$primary: #5e00d9;
$danger: #ff3636;


@import '~bootstrap/scss/bootstrap';

#root{
    height: 100vh;
}

.movies1{
    width:45%;
}
.back{
    background-color: grey;
    width:100%;
    height:100%;
}
